ws4py
requests
flask
flask_login
flask_restful
flask_wtf
Werkzeug
WTForms
pyyaml
flask_cors
cherrypy
bleak
logManager @ git+https://github.com/hendriksen-mark/logManager.git
adafruit-blinka
eqiva-smart-radiator-thermostat @ git+https://github.com/hendriksen-mark/Eqiva-Smart-Radiator-Thermostat.git
RPi.GPIO
rpi-ws281x
adafruit-circuitpython-dht
pigpio
